*{
    margin: 0%;
    padding: 0%;
}

/* Primeira Parte */

.div{
    margin-right: 100px;
    margin-left: 100px;
    height: 800px;
}

.mapa{
    height: 100%;
    background-image: url(asserts/mapa.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
}

#bandeira{
    margin-left: 505px;
    border-radius: 50%;
    margin-top: 25px;
}

#titulo{
    text-shadow: 1px 1px 1px black;
    color: white;
    padding-top: 5%;
    text-align: center;
}

.paragrafo-1{
    text-shadow: 1px 1px 1px black;
    padding: 3%;
    color: white;
    text-align: center;
}

form{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
}

input{
    width: 22vw;
    height: 6vh;
    border-radius: 5px;
    border: 1px
}

input::placeholder{
    padding: 15px;
}


#botao {
    background-color: rgb(163, 9, 9);
    width: 22vw;
    height: 6vh;
    border-radius: 5px;
    border: 1px;
    color: white;}


#imperadores{
    text-shadow: 1px 1px 1px black;
    padding: 1%;
    color: white;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: space-around;
}

/* Conclusão da Primeira Parte */

/* Segunda Parte */

#titulo-2{
    padding: 4%;
    text-align: center;
    color: black;
}

.container{
    display: flex;
}
.container .content{
    padding: 45px;
}

::placeholder{
    padding: 2%;
}

/* Conclusão da Segunda Parte */

/* Terceira Parte */

.fundo-3{
    height: 300px;
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(to right ,#C41616, #820303, #5A0000);
}

.about{
    margin-right: 100px;
}

/* Conclusão da Terceira Parte */

/* Quarta Parte */

.fundo-4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    background-image: linear-gradient(to top, #DBC7BE, #CCB9B0, #9B8B84)
}

.paragrafo-2{
    padding: 3%;
}

/* Conclusão da Quarta Parte */

/* Quinta Parte */

.fundo-5{
    height: 70%;
    background-image: url(asserts/ceu.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
}

#titulo-3{
    padding: 1%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

#luffy{
    border-radius: 50%;
}

#zoro{
    border-radius: 50%;
}

#sanji{
    border-radius: 50%;
}

.Mugiwaras{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nomes{
    padding: 1%;
    display: flex;
    justify-content: space-around;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Conclusão da Quinta Parte */

/* Sexta Parte */
.fundo-6{
    background-color: #8DA1B9;
}

/* Conclusão da Sexta Parte */

.fundo-7{
    display: flex;
    justify-content:space-between;
}
a{
    margin-top: 3%;
}